.productBrandName {
    display: none;
}

.productName {
    font-family          : "Lexend";
    font-weight          : 300;
    font-size            : 11.34px;
    line-height          : 15.12px;
    letter-spacing       : 0px;
}

.price {
    font-family   : "Lexend";
    font-weight   : 600;
    font-size     : 15.12px;
    line-height   : 18.15px;
    letter-spacing: 0px;
    text-align    : right;
    color         : #1D2734;
    text-align    : left;
}

.currencyContainer {
    font-family    : "Lexend";
    font-weight    : 400;
    font-size      : 11.34px;
    line-height    : 15.88px;
    letter-spacing : 0px;
    text-align     : right;
    text-decoration: line-through;
}

.productPriceCurrency {
    margin: 0;
}

.productImageContainer {
    width : 145px !important;
    height: 120px;
}

.productImageContainer :local(img) {
    max-height: 120px;
}

.quantitySelectorDecrease {
    width                    : 37px;
    height                   : 43px;
    border-top-left-radius   : 3.78px;
    border-bottom-left-radius: 3.78px;
    padding                  : 9;
    background               : #1D2734;
}

.inputContainer {
    width: 63px;
}

.inputContainer :local(input) {
    font-family   : "Lexend";
    font-weight   : 300;
    font-size     : 13.23px;
    line-height   : 100%;
    letter-spacing: 0px;
    text-align    : center;

}

.quantitySelectorIncrease {
    width                     : 37px;
    height                    : 43px;
    border-top-right-radius   : 3.78px;
    border-bottom-right-radius: 3.78px;
    padding                   : 9px;
    background                : #1D2734;
}

.quantitySelectorDecrease :local(svg),
.quantitySelectorIncrease :local(svg) {
    color: white;
}

.removeButtonContainer {
    width : 20px;
    height: 20px;
    top   : 0;
    right : 0;
}

.removeButtonContainer :local(svg) {
    width : 20px;
    height: 20px;
}

.quantitySelectorWrapper {
    max-width: 137px;
}