.buttonText {
    font-family   : "Lexend";
    font-weight   : 400;
    font-size     : 14px;
    line-height   : 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-transform: lowercase;
}

.buttonText::first-letter {
    text-transform: uppercase;
}
