/* .flexRow--add-to-card {
   background: red;
}

.flexRow--add-to-card :global(.vtex-numeric-stepper-container) {
    background: blue;
    min-width : 170px;
}

.flexRow--add-to-card :global(.vtex-button) {
    min-width     : 160px;
    height        : 48px;
    border-radius : 4px;
    background    : #492A77;
    position      : relative;
    text-transform: capitalize;
    font-size     : 14px;
}

.flexRow--add-to-card :global(.vtex-button)::before {
    content          : '';
    background-image : url('assets/img/icons/cart.svg');
    background-size  : contain;
    background-repeat: no-repeat;
    width            : 20px;
    height           : 20px;
    position         : absolute;
    left             : 30px;
    top              : 50%;
    transform        : translateY(-50%);
}

.flexRow--add-to-card :global(.vtex-button)::after {
    content  : 'Agregar';
    position : absolute;
    left     : 60%;
    top      : 50%;
    transform: translate(-50%, -50%);
    color    : white;
}

.flexRow--add-to-card :global(.vtex-button__label) {
    display: none;
}
 */
