:local(body div[class="vtex-render__container-id-search-result-layout"]) {
    background: white;
    margin-top: 168px;
}

@media (max-width: 1024px) {
    :local(body div[class="vtex-render__container-id-search-result-layout"]) {
        background: white;
        margin-top: 128px;
    }
}

:local(body div[class="vtex-render__container-id-responsive-layout.desktop"]) {
    margin-top: 168px;
    background: white;
}
