.sliderLayoutContainer {
    max-width : 1092px;
    height: 324px;
}

.sliderTrackContainer--desktop__slider {
    height: 100%;
}

.sliderTrack--desktop__slider {
    height: 100%;
}

.paginationDotsContainer--desktop__slider {
    bottom    : -26px;
}

.sliderLeftArrow {
    left: -40px;
}

.sliderRightArrow {
    right: -40px;
}

.paginationDot--desktop__slider {
    border-radius: 0%;
    width        : 40px !important;
    height       : 2px !important;
    padding: 0;
}
.paginationDot--desktop__slider--isActive {
    background: #1D2734;
    position: relative;
}

.paginationDot--desktop__slider--isActive::after {
    content: "";
    width: 19px;
    height: 19px;
    background: #1D2734; 
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
