.flexRowContent--mobile__filter-category {
    display: flex;
}

.flexRowContent--product-summary {
    display: flex;
    width  : 290px;
    height : 106px;
}

.flexRowContent--product-summary :global(.vtex-product-summary-2-x-imageContainer) {
    width : 135px;
    height: 106px;
    margin: 0;
}

.flexRowContent--product-summary :global(.vtex-product-summary-2-x-image) {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.flexRowContent--product-summary :global(.vtex-product-summary-2-x-description) {
    overflow          : hidden;
    display           : -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.flexRowContent--product-summary :global(.vtex-product-summary-2-x-productPriceClass) {
    display       : flex;
    flex-direction: column-reverse;
    text-align    : left;
}

.flexRowContent--product-summary :global(.vtex-store-components-3-x-sellingPriceValue) {
    font-family   : "Lexend";
    color         : #1D2734;
    font-weight   : 600;
    font-size     : 20px;
    line-height   : 21px;
    letter-spacing: 0px;
    text-align    : left;
}

.flexRowContent--product-summary :global(.vtex-store-components-3-x-sellingPriceValue)::after {
    content: "Envío gratis";
    font-family   : "Lexend";
    font-weight   : 400;
    font-size     : 12px;
    line-height   : 12.76px;
    letter-spacing: 0px;
    color         : #FA2080;
    display       : block;
}


.flexRowContent--product-summary :global(.vtex-product-summary-2-x-installmentContainer) {
    font-family    : "Lexend";
    color          : #1D273466;
    font-weight    : 400;
    font-size      : 12px;
    line-height    : 12px;
    letter-spacing : 0px;
    text-align     : left;
    text-decoration: line-through;
}


.flexRowContent--product-summary :global(.vtex-store-components-3-x-priceContainer) {
    padding       : 0;
    text-align    : left;
    align-items   : flex-start;
    width         : 100%;
    flex-direction: column;
}