.searchBarInnerContainer :global(.vtex-input-prefix__group) {
    border-radius: 40px;
    height       : 40px;
    background   : #F0F0F2;
}

.searchBarInnerContainer :global(.vtex-styleguide-9-x-input) {
    font-weight   : 300;
    font-size     : 12px;
    line-height   : 100%;
    letter-spacing: 0px;
    font-family   : "Lexend";
}

.logoContainer {
    padding    : 0;
    margin-right: 16px;
}