.flexRow--mobile__hero__content {
    height             : 500px;
    background-image   : url("assets/img/hero/hero-mobile.jpg");
    background-size    : contain;
    background-position: center;
    background-repeat  : no-repeat;
}

.flexRowContent--mobile__hero__content {
    height         : 500px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    padding-bottom : 16px;
    padding-top    : 16px;
}