.openIconContainer {
    padding     : 0;
    margin-right: 10px;
}

.openIconContainer :global(.vtex-button__label) {
    padding: 0;
}

.minicartIconContainer {
    width : 20px;
    height: 20px;
}