.headerRowContainer--row1-mobile {
    height    : 72px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: space-between;
}

.headerRowContainer--row2-mobile {
    height    : 56px;
}