@media (max-width: 728px) {
    .searchBarInnerContainer :global(.vtex-styleguide-9-x-input) {
        display: none;

    }

    .searchBarInnerContainer :global(.vtex-input__suffix) {
        background: white;
        padding   : 0;
    }

    .logoContainer {
        padding: 0;
    }
}