@media (max-width:430px) {
    .autoCompleteOuterContainer {
        width : 40px;
        height: 40px;
    }

    .autoCompleteOuterContainer :global(.vtex-styleguide-9-x-input) {
        display: none;
    }

    .autoCompleteOuterContainer :local(span) {
        background     : white;
        border-radius  : 100%;
        padding        : 0;
        width          : 40px;
        display        : flex;
        align-items    : center;
        justify-content: center;
    }
}